# deps
node_modules/

# next.js
.next/
out/

# cloudflare / opennext build output
.open-next/
.wrangler/

# vercel
.vercel/

# env
.env*.local

# logs
*.log

# os
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
*.zip
next-env.d.ts
tsconfig.tsbuildinfo